<ion-content class="ion-no-padding">

  <div class="div-bigHeader">
    <h1 class="titulo-page ">
      <span class="texto ">Cadastre-se</span>
    </h1>
  </div>

  <div class="div-container">

    <div class="div-input">
      <label class="label" for="email">E-mail</label>
      <input class="input" type="email" name="email" placeholder="exemplo@email.com..." required />
      <span class="message">Digite o nome do exercicio ou escolha um ja cadastrado</span>
    </div>

    <div class="div-input">
      <label class="label" for="nome">Nome</label>
      <input class="input" type="text" name="nome" placeholder="Seu Nome..." required minlength="3" />
      <span class="message">Digite o nome do exercicio ou escolha um ja cadastrado</span>
    </div>

    <div class="div-input">
      <label class="label" for="senha">Senha</label>
      <input class="input" type="text" name="senha" placeholder="sennha de acesso..." required minlength="4" />
      <span class="message">Digite o nome do exercicio ou escolha um ja cadastrado</span>
    </div>


    <button class="btn btn-primary">
      <span class="nome">
        Cadastrar
      </span>
      <ion-icon class="arrow" slot="end" name="ios-arrow-forward"></ion-icon>
    </button>


    <!-- div-container -->
  </div>

  <div class="div-footer">
    <span class="copy  texto-padrao">
      Copyright © 2019 ACADEMIA. All rights reserved.
    </span>
  </div>

</ion-content>