<ion-content class="ion-no-padding">

  <div class="div-bigHeader">
    <h1 class="titulo-page ">
      <span class="texto ">Cadastre-se</span>
    </h1>
  </div>

  <div class="div-container">

    <div class="div-input">
      <label class="label" for="User">usuario</label>
      <input class="input" type="text" name="Name" placeholder="Nome do usuario" />
      <span class="message">Digite o nome do exercicio ou escolha um ja cadastrado</span>
    </div>

    <div class="div-input">
      <label class="label" for="senha">senha</label>
      <input class="input" type="password" name="senha" />
      <ion-icon class="icon" slot="end" name="eye"></ion-icon>
      <span class="message">Digite o nome do exercicio ou escolha um ja cadastrado</span>
    </div>

    <button>logar <ion-icon class="arrow" slot="end" name="ios-arrow-forward"></ion-icon></button>


    <fieldset>
      <legend>Legenda</legend>
      <label for="Texto">texto</label>
      <input type="email" name="email" id=" ">
      
    </fieldset>
    <!-- div-container -->
  </div>

  <div class="div-footer">
    <span class="copy  texto-padrao">
      Copyright © 2019 ACADEMIA. All rights reserved.
    </span>
  </div>

</ion-content>