@mixin colunasCentro {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-items: center;
}
@mixin colunasAlinhadoAEsquerda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
}
