<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">

  <div class="div-bigHeader">
    <h1 class="titulo-page ">
      <span class="texto ">Logue-se</span><br>
      <span class="icone">🔐</span>
    </h1>
  </div>

  <div class="div-container">
    <!--   -->
    <form class="div-container" [formGroup]="formLogar" (ngSubmit)="logar()">
      <div class="div-input">
        <label class="label" for="User">usuario</label>
        <input class="input" required formControlName="email" type="text" name="email" placeholder="E-mail..." />
        <span class="message">Digite o nome do exercicio ou escolha um ja cadastrado</span>
      </div>

      <div class="div-input">
        <label class="label" for="senha">senha</label>
        <input class="input" required formControlName="senha" type="password" name="senha" placeholder="Senha..." />
        <ion-icon class="icon" slot="end" name="eye"></ion-icon>
        <span class="message">Digite o nome do exercicio ou escolha um ja cadastrado</span>
      </div>

      <button class="btn-primary" type="submit" [disabled]="formLogar.invalid">
        <span class="nome">
          Logar
        </span>
        <ion-icon class="arrow" slot="end" name="ios-arrow-forward"></ion-icon>
      </button>

    </form>



    <!-- div-container -->
  </div>

  <div class="div-footer">
    <span class="copy  texto-padrao">
      Copyright © 2019 ACADEMIA. All rights reserved.
    </span>
  </div>

</ion-content>