.titulo-page {
  text-align: center;
  > .texto {
    background: linear-gradient(to right, #f27a54 30%, #a154f2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
  }
  > .icone {
    font-size: 2.875rem;
  }
}
